server:
  port: 8080

spring:
  application.name: apigw
  main.web-application-type: reactive
  cloud:
    gateway.server.webflux:
      routes:
        - id: lab-home
          order: 100
          uri: http://lab-home:80
          predicates:
            - Path=/, /index.html, /assets/**, /icons/**, /favicon.ico

        - id: api-stress-test
          uri: http://api-stress-test:8083
          predicates:
            - Path=/api-stress-test/**
          filters:
            - StripPrefix=1
            - AddRequestHeader=X-Forwarded-Prefix, /api-stress-test

        - id: ichiro-family-tree
          uri: http://ichiro-family-tree:8081
          predicates:
            - Path=/ichiro-family-tree/**
          filters:
            - StripPrefix=1
            - AddRequestHeader=X-Forwarded-Prefix, /ichiro-family-tree

        - id: shortly
          uri: http://shortly:8082
          predicates:
            - Path=/shortly/**
          filters:
            - StripPrefix=1
            - AddRequestHeader=X-Forwarded-Prefix, /shortly

        - id: ichiro-walks
          uri: http://ichiro-walks:8085
          predicates:
            - Path=/ichiro-walks/**
          filters:
            - StripPrefix=1
            - AddRequestHeader=X-Forwarded-Prefix, /ichiro-walks

        - id: portainer
          uri: http://portainer:9000
          predicates:
            - Path=/portainer/**
          filters:
            - StripPrefix=1
            - AddRequestHeader=X-Forwarded-Prefix, /portainer

        - id: grafana
          uri: http://grafana:3000
          predicates:
            - Path=/grafana/**
          filters:
            - AddRequestHeader=X-Forwarded-Prefix, /grafana
            - PreserveHostHeader

        - id: htmx-demo
          uri: http://htmx-demo:8087
          predicates:
            - Path=/htmx-demo/**
          filters:
            - StripPrefix=1
            - AddRequestHeader=X-Forwarded-Prefix, /htmx-demo

        - id: wordle-duel-service
          order: 1
          uri: http://wordle-duel-service:8088
          predicates:
            - Path=/wordle-duel-service/**
          filters:
            - StripPrefix=1
            - AddRequestHeader=X-Forwarded-Prefix, /wordle-duel-service

        - id: wordle-duel-service-ws
          order: 0
          uri: ws://wordle-duel-service:8088
          predicates:
            - Path=/wordle-duel-service/ws, /wordle-duel-service/ws/**
          filters:
            - StripPrefix=1
            - AddRequestHeader=X-Forwarded-Prefix, /wordle-duel-service

        - id: wordle-duel
          uri: http://wordle-duel:80
          predicates:
            - Path=/wordle-duel, /wordle-duel/, /wordle-duel/**
          filters:
            - StripPrefix=1
            - AddRequestHeader=X-Forwarded-Prefix, /wordle-duel
management:
  endpoints:
    web.exposure.include: health,info,prometheus
  endpoint:
    health.probes.enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
